



<!-- <clr-tree-node>
	aaa
	<ms-parttype *ngFor="let partType of partTypeTree.children" partTypeTree="partType"></ms-parttype>
</clr-tree-node> -->

 <p-tree [value]="_partCategoryTree" selectionMode="single" layout="horizontal">
	<ng-template let-node  pTemplate="default">
		<div *ngIf="!node.editMode" (dblclick)="setEditMode(node, true)">
        	<span>{{node.label}}</span>
        	<span  class="action-panel"  >
        		<i id="addButton" class="button" (click)="addSubType(node)">ADD</i> 
        		<i id="deleteButton" class="button" (click)="deletePartType(node)">DEL</i>
        	</span>
    	</div>
    	
    	
    	<div *ngIf="node.editMode">
    		<input id="editNode" #edit abFocus [(ngModel)]="node.label" type="text" style="width:100%" 
    				(keyup.escape)="cancelEditMode(node)"
    				(keyup.enter)="edit.blur()" 
    				(blur)="validateAndExitEditMode(node)">
    	</div>
    	
    	
    </ng-template>
    
</p-tree> 