

$dark-border-color: #d4d4d4;
$component-bg-color: #fafafa;
$dark-component-bg-color: #eaeaea;
$dark-text-color: #081c22;
$dark-bg-color: #2790b0;
$light-text-color: #ffffff;
$light-bg-color: #ffffff;
$light-border-color: #b8ccd2;
$hilight-border-color: #eecc00;
$error-bg-color: #ec4e4e;