



<!-- <clr-tree-node>
	aaa
	<ms-parttype *ngFor="let partType of partTypeTree.children" partTypeTree="partType"></ms-parttype>
</clr-tree-node> -->

 <p-tree [value]="_primeNGTree" selectionMode="single" layout="horizontal">
	<ng-template let-node  pTemplate="default">
		<div *ngIf="!node.editMode" (dblclick)="setEditMode(node, true)">
        	<span>{{node.label}}</span>
        	<span id="addNode" class="badge red"  (click)="addSubType(node)"><i class="fa fa-plus fa-inverse"></i> </span>
    	</div>
    	
    	
    	<div *ngIf="node.editMode">
    		<input id="editNode" abFocus [(ngModel)]="node.label" type="text" style="width:100%" (blur)="setEditMode(node, false)">
    	</div>
    	
    	
    </ng-template>
    
</p-tree> 