



<!-- <clr-tree-node>
	aaa
	<ms-parttype *ngFor="let partType of partTypeTree.children" partTypeTree="partType"></ms-parttype>
</clr-tree-node> -->

 <p-tree [value]="_primeNGTree" selectionMode="single" layout="horizontal">
<ng-template let-node  pTemplate="default">
        <span>{{node.label}} parent: {{node.parent? node.parent.label:""}}</span>
        <span><button pButton id="addNode" icon="fa-plus-circle" (click)="addSubNode(node)"> </button> </span>
    </ng-template>
    <!-- <ng-template let-node  pTemplate="edit">
        <input [(ngModel)]="node.label" type="text" style="width:100%">
    </ng-template> -->

</p-tree> 